#!/bin/csh -f

#
# GO Text configuration file
#

source ${NOTELOAD}/Configuration

setenv NOTEMODE		load
setenv NOTEDATADIR      ${DATALOADSOUTPUT}/go/gotext
setenv NOTEINPUTFILE 	${DATALOADSOUTPUT}/go/gotext/input/gotext.txt
setenv NOTELOG          ${DATALOADSOUTPUT}/go/gotext/logs/gotext.log
setenv NOTETYPE		"GO Text"
setenv NOTEOBJECTTYPE   Marker

