#!/bin/csh -f

#
# GO Text configuration file
#

source ./Configuration

setenv NOTEMODE		load
setenv NOTEDATADIR      /data/loads/go/gotext
setenv NOTEINPUTFILE 	${NOTEDATADIR}/input/gotext.txt
setenv NOTELOG          ${NOTEDATADIR}/logs//gotext.log
setenv NOTETYPE		"GO Text"
setenv NOTEOBJECTTYPE   Marker

